<h3>Agregar:</h3>
<input
    type="text"
    class="form-control"
    placeholder="Nombre"
    [value]="name()"
    (change)="updateName(txtName.value)"
    #txtName
/>
<!--(change)="name.set(txtName.value)"
    (input)="name.set(txtName.value)"-->

<input
    type="number"
    class="form-control mt-2"
    placeholder="Poder"
    [value]="power()"
    (change)="updatePower(txtPower.value)"
    #txtPower
/>
<!--(input)="power.set(+txtPower.value)"-->

<button
    class="mt-2 btn btn-primary"
    (click)="addCharacter()"
>
    Agregar
</button>
